[Desktop Entry]
Comment=Analog TV Teletext viewing application
Icon=xawtv
Exec=mtt
Name=MTT Teletext Viewer
Terminal=false
StartupNotify=false
Type=Application
Categories=AudioVideo;Video;
Keywords=video;tv;viewer;v4l;v4l2;video4linux;teletext;
