#!/bin/sh

# debconf lib
. /usr/share/debconf/confmodule

# init variables
mkdev="true"
mkcfg="true"
tvnorm=""
freqtab=""
doscan="false"

# look around a bit ...
pcidev=`lspci -n 2>/dev/null | cut -d" " -f 4`
for card in $pcidev; do
	case $card in
		109e:0350)	doscan="true" ;;	# bt848
		109e:0351)	doscan="true" ;;	# bt849
		109e:036e)	doscan="true" ;;	# bt878
		109e:036f)	doscan="true" ;;	# bt879
	esac
done
test -c /dev/.devfsd		&& mkdev="false"
test -c /dev/video0		&& mkdev="false"

# create v4l devices ?
if test "$mkdev" = "true"; then
	db_input medium xawtv/makedev
	db_go
	db_get xawtv/makedev
	mkdev="$RET"
fi

# build xawtv config
db_input medium xawtv/build-config
db_go
db_get xawtv/build-config
mkcfg="$RET"

if test "$mkcfg" = "true" -a -s /etc/X11/xawtvrc; then
	# overwrite old file?
	db_input medium xawtv/overwrite-config
	db_go
	db_get xawtv/overwrite-config
	mkcfg="$RET"
fi

if test "$mkcfg" = "true"; then
	# configuration
	db_input medium xawtv/tvnorm
	db_go
	db_get xawtv/tvnorm
	tvnorm="$RET"
	db_input medium xawtv/freqtab
	db_go
	db_get xawtv/freqtab
	freqtab="$RET"
fi

if test "$mkcfg" = "true" -a "$doscan" = "true"; then
	# channel scan?
	db_input medium xawtv/channel-scan
	db_go
	db_get xawtv/channel-scan
	doscan="$RET"
fi

